:root {
  --color-background: #E1EEBC;
  --color-surface: #245D4A;
  --color-primary: #328E6E;
  --color-secondary: #90C67C;
  --color-light: #E1EEBC;
  --color-error: #D7263D;
  --color-info: #1D7F7F;
  --color-success: #2BB673;
  --color-warning: #F5A623;
  --color-on-primary: #FFFFFF;
  --color-on-secondary: #1F3B2C;
  --color-on-background: #1F3B2C;
  --color-on-surface: #FFFFFF;
  --color_a: #E1EEBC;
  --color_b: #90C67C;
  --color_c: #67AE6E;
  --color_d: #328E6E;
  --color_e: #245D4A;
  --color_f: #1F3B2C;
  --disabled: #C9D5C2;
}

//https://colorhunt.co/palette/328e6e67ae6e90c67ce1eebc
//328E6E, 67AE6E, 90C67C, E1EEBC