:root {
  --color-background: #096B68;
  --color-surface: #129990;
  --color-primary: #129990;
  --color-secondary: #90D1CA;
  --color-light: #FFFBDE;
  --color-error: #CB0404;
  --color-info: #096B68;
  --color-success: #2abe17;
  --color-warning: #FF9F00;
  --color-on-primary: #096B68;
  --color-on-secondary: #096B68;
  --color-on-background: #096B68;
  --color-on-surface: #096B68;
}