@use './colors.scss' as *;

h1 {
    color: var(--color_f) !important;
}

.card_header {
    background-color: var(--color_e) !important;
}

.card_all {
    border: 1px solid var(--color_f) !important;
}